html {
  scroll-behavior: smooth;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 500;
  @extend .ft-rg;
  letter-spacing: 0.08em;
  line-height: 1.8;
  min-width: 300px;
}

//------ フォントクラス ---------------------------------------------
.ft-sm {
  font-size: 10px;
}
.ft-rg {
  font-size: 14px;
}
.ft-md {
  font-size: 20px;
}
.ft-lg {
  font-size: 28px;
}
// .ft-big {
//   font-size: 40px;
// }
.ft-big {
  font-size: 48px;
}
.ft-bilo {
  font-family: bilo, sans-serif;
}

.text-blue {
  color: $cBlueText;
}

.regular {
  font-weight: 500;
}
.medium {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

//------ フロート解除 ---------------------------------------------
.clear-f {
  &::before {
    content: "";
    display: table;
  }
  &::after {
    content: "";
    clear: both;
  }
}

//------ 下余白クラス ---------------------------------------------
.mb-sm {
  margin-bottom: 24px;
}
.mb-rg {
  margin-bottom: 32px;
}
.mb-md {
  margin-bottom: 48px;
}
.mb-lg {
  margin-bottom: 56px;
}

//------ 下外余白 ---------------------------------------------
.pb-sm {
  padding-bottom: 24px;
}
.pb-md {
  padding-bottom: 32px;
}
.pb-md {
  padding-bottom: 56px;
}

.pd-none {
  padding-bottom: 0 !important;
}

//------ 共通クラス ---------------------------------------------
.wrapper {
  padding: 0 15px;
  margin: 0 auto;
}

.inner {
  margin-top: 70px;
}

.main-title {
  text-align: center;
  // @extend .mb-lg;
  margin-bottom: 80px;
  
  &-en {
    @extend .ft-bilo;
    font-size: 56px;
    letter-spacing: 0.2em;
    // line-height: 60px;
    line-height: 76px;
  }
  &-ja {
    font-size: 16px;
    letter-spacing: 0.2em;
    line-height: 1;
    display: inline-block;
    padding: 5px 12px;
    border: 2px solid $cBlack;
  }
}

.flex {
  &-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &-left {
    width: 100%;
  }
}

.title-bar {
  &::before,
  &::after {
    content: "";
    width: 30px;
    height: 2px;
    display: inline-block;
    background-color: $cBlack;
    vertical-align: middle;
  }
  &::before {
    margin-right: 15px;
  }
  &::after {
    margin-left: 15px;
  }
}

//------ btn クラス ---------------------------------------------
.btn {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 24px 26px;
  border-radius: 36px;
  background: $cBlack;
  border: 2px solid $cBlack;
  font-size: 16px;
  line-height: 1;
  color: $cWhite;
  text-align: center;
  transition: all .3s;
  &-arrow {
    &::before {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      width: 10px;
      height: 10px;
      background-image: url(../images/arrow_right_white.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &:hover {
    color: $cBlack;
    background-color: $cWhite;
    & .btn-arrow {
      &::before {
        color: $cBlack;
        background-image: url(../images/arrow_right_black.svg);
      }
    }
  }
}

//------ header ---------------------------------------------
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  background-color: $cWhite;
  &-inner {
    height: 70px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    transition: opacity .3s;
    & img {
      height: 32px;
    }
    &:hover {
      opacity: .7;
    }
  }
  &-nav {
    display: none;
  }
  &-menu {
    display: flex;
    justify-content: center;
    &__item {
      line-height: 100px;
      margin-left: 60px;
      transition: opacity .3s;
      &:hover {
        opacity: .6;
      }
    }
  }
  .mobile-menu__btn {
    z-index: 100;
  }
  & .twitter-icon {
    vertical-align: middle;
    height: 1.25em;
  }
}

// ------ top ---------------------------------------------
:root {
  --catch--font: calc(1.25rem + ((1vw - 3px) * 1.8182));
  --catch--min-height: 0vw;
}
.top {
  margin-bottom: 120px;
  &-bg {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;
    background-image: url(../images/top_sp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .catch {
    position: absolute;
    bottom: 80px;
    z-index: 10;
    margin-left: 0px;
    // font-size: 20px;
    font-size: var(--catch--font);
    min-height: var(--catch--min-height);
    letter-spacing: 0.2em;
    line-height: 2.3em;
    & span {
      background-color: #fff;
      padding: 10px 10px;
    }
  }
}

// ------ about ---------------------------------------------
.about {
  position: relative;
  padding: 90px 0 120px;
  background-color: $cBlueBg;
  &::before, &::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 20%;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &::before {
    top: 0;
    background-image: url(../images/about_bg_top.svg);
    background-position: top;
  }
  &::after {
    bottom: 0;
    background-image: url(../images/about_bg_bottom.svg);
    background-position: bottom;
  }
  &-text {
    margin-bottom: 32px;
  }
  &-profile-img {
    position: relative;
    width: 100%;
    max-width: 320px;
    height: auto;
    padding: 0 0 20px 20px;
    margin: 0 auto;
    margin-bottom: 32px;
    z-index: 1;
    &::after {
      position: absolute;
      // top: calc(8%);
      top: 8%;
      left: calc(-8% + 20px);
      z-index: -1;
      content: '';
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      background-image: url(../images/about_img_bg.svg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  & .flex-right {
    display: none;
  }
}

// ------ works ---------------------------------------------
.works {
  // margin-bottom: 120px;
  padding: 120px 0 56px;
  &-container {
    margin-bottom: 64px;
    // &:last-child() {
    //   margin-bottom: 0;
    // }
  }
  &-title {
    // @extend .ft-md;
    // @extend .mb-rg;
    margin-bottom: 56px;
    font-size: 28px;
    text-align: center;
    display: block;
  }
}

.card {
  margin-bottom: 56px;
  &:last-child() {
    margin-bottom: 0;
  }
  &-container {
    margin: 0 auto;
    padding: 0 15px;
  }
  &-img {
    overflow: hidden;
    & > img {
      width: 100%;
      height: auto;
    }
  }
  &-text {
    line-height: 1;
  }
}

.darken {
  position: relative;
  padding: 0;
  margin: 0;
  &-img {
    margin: 0;
    padding: 0;
  }
  &-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    transition: .3s ease-in-out;
    text-align: center;
  }
  & p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  &:hover {
    & .darken-text {
      opacity: 1;
    }
  }
}

.work-name {
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.2em;
}

.category {
  &-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  &-bar {
    background-color: $cBlack;
    color: $cWhite;
    margin-right: 10px;
    padding: 5px 1.5em;
    margin-bottom: 5px;
    border-radius: 30px;
    font-size: 13px;
  }
}

// ------ footer ---------------------------------------------
.footer {
  background-color: $cBlack;
  padding: 40px 0;
  &-inner {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 64px;
  }
  &-logo {
    transition: opacity .3s;
    margin-bottom: 32px;
    & img {
      height: 32px;
    }
    &:hover {
      opacity: .7;
    }
  }
  &-menu {
    display: flex;
    flex-direction: column;
    color: $cWhite;
    &__item {
      margin-bottom: 16px;
      transition: opacity .3s;
      &:last-child(){
        margin-bottom: 0;
      }
      &:hover {
        opacity: .6;
      }
    }
  }
  .copyright {
    @extend .ft-bilo;
    @extend .ft-sm;
    line-height: 1;
    color: $cWhite;
    text-align: center;
  }
}

// 以下下層ページ

.page-sec-title {
  text-align: center;
  // @extend .ft-md;
  font-size: 28px;
  margin-bottom: 64px;
  // border: 2px solid $cBlack;
}

// about,works余白設定
.about {
  &-page {
    padding: 64px 0 0;
    &-text {
      margin-bottom: 24px;
      line-height: 1.5;
    }
  }
}
.works {
  &-page {
    padding: 64px 0 56px;
    &-text {
      margin-bottom: 24px;
    }
  }
}

// ------ about-page ---------------------------------------------
.profile {
  &-sec {
    margin-bottom: 120px;
  }
  &-img {
    position: relative;
    width: 100%;
    max-width: 320px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 32px;
    &::after {
      position: absolute;
      top: calc(8% + 20px);
      left: calc(-8% + 20px);
      z-index: -1;
      content: '';
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      background-color: $cOffWhite;
    }
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &-dl {
    display: block;
    & dt {
      margin-bottom: 8px;
      display: block;
      float: left;
      width: 30%;
      clear: both;
    }
    & dd {
      margin-bottom: 8px;
      display: block;
      float: right;
      width: 70%;
    }
  }
}
.career {
  &-sec {
    margin-bottom: 120px;
  }
  &-table {
    border-collapse: collapse;
    & th {
      width: 20%;
      padding-bottom: 8px;
    }
    & td {
      width: 80%;
      padding-bottom: 8px;
      line-height: 1.5;
    }
  }
}


.skill {
  &-sec {
    margin-bottom: 120px;
  }
  &-card {
    margin-bottom: 64px;
    padding: 0 20px;
  }
  &-flex {
    display: flex;
    justify-content: center;
  }
  &-img {
    text-align: center;
    height: auto;
    margin-bottom: 12px;
    &:nth-child(2) {
      margin-left: 15px;
    }
    & > img {
      height: 60px;
    }
  }
  &-name {
    font-size: 22px;
    text-align: center;
    margin-bottom: 12px;
  }
  &-text {
    line-height: 1.5;
  }
}

.goal {
  &-sec {
    background-image: url(../images/about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0;
    & .page-sec-title {
      text-align: left;
    }
  }
  &-text-bg {
    background-color: rgba(255,255,255,.7);
    padding: 64px 32px;
  }
  &-text {
    line-height: 1.7em;
    & > p {
      margin-bottom: 32px;
      &:last-child() {
        margin-bottom: 0;
      }
    }
  }
}

// ------ work-details ---------------------------------------------
.work-details {
  &-container {
    & .btn {
      margin: 0 auto;
    }
  }
  &-title {
    font-size: 18px;
    @extend .mb-sm;
    text-align: center;
  }
  &-img {
    margin-bottom: 32px;
    & > img {
      width: 100%;
      height:　auto;
      object-fit: cover;
      object-position: center;
    }
  }
  &-table {
    border-collapse: collapse;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 56px;
    & th {
      width: 100px;
      padding: 10px 0;
      text-align: left;
      @extend .bold;
    }
    & td {
      padding: 10px 0;
      text-align: left;
      & > a {
        text-decoration: underline;
        transition: opacity .3s;
        &:hover {
          opacity: .6;
        }
      }
    }
  }
}

.design-comp {
  background-color: $cBgGray;
  margin-top: 100px;
  padding: 100px 15px ;
  &-img {
    margin: 0 auto;
    margin-bottom: 56px;
    width: 100%;
    & > img {
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center;
      display: inline-block;
      text-align: center;
    }
  }
  &-text {
    margin-bottom: 8px;
    font-size: 16px;
    text-align: center;
  }
  & .flex-container {
    align-items: flex-start;
    justify-content: center;
  }
  & .btn {
    margin: 0 auto;
  } 
}