
#page-top {
  position: fixed;
  bottom: 80px;
  right: 5%;
  display: block;
  width: 56px;
  height: 56px;
  background-color:$cBlack;
  border-radius: 50%;
  z-index: 100;
  & a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      width: 16px;
      height: 16px;
      background-image: url(../images/arrow_up_white.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
.pageTopTrigger {
  position: absolute;
  top: 100vh;
  & #page-top {
    opacity: 0;
    transform: translateY(30px);
    transition: all .3s;
  }
  &.show {
    #page-top {
      opacity: .6;
      transform: none;
      &:hover {
        opacity: 1;
      }
    }
  }
}